<!DOCTYPE html>
<html lang="en">
<head>
    <title>原创新闻</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="${ctx}public/css/demo.css"/>
    <script src="//cdn.bootcss.com/jquery-weui/0.8.0/js/swiper.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/0.8.0/js/city-picker.min.js"></script>
    <style>
        #editor {
            overflow: scroll;
            max-height: 1200px
        }
    </style>
</head>
<body>



<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.0/js/jquery-weui.min.js"></script>
</body>

<div class="weui_cells_title">带跳转的列表项</div>
<div class="weui_cells weui_cells_access">
    <#list news as new>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>${new.title}</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
    </#list>
</div>
</html>