<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:util="http://www.springframework.org/schema/util" 
 xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <!-- 引入jdbc配置文件 -->
    <context:property-placeholder  location="classpath:config/jdbc.properties"/>
     <!-- 引入配置文件 -->
	<util:properties id="sys" location="classpath:config/config.properties"></util:properties>
    <!-- 扫描文件（自动将servicec层注入） -->
    <context:component-scan base-package="com.youdows.fightting.service"/>
    

	<!-- 启动后执行 -->
    <bean name="jobTask" class="com.youdows.fightting.Processor.InstantiationTracingBeanPostProcessor"></bean>
    <!-- 注入socket服务 -->
    <bean name="socketServer" class="com.youdows.fightting.Server.SocketServer"></bean>
    
   
</beans>